$imgWidth: 100%;
$blueColor: #011847;
$greenColor: #84bc22;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
}
h1 {
  font-size: 48px;
  font-weight: 900;
}
section {
  padding: 30px 0;
}
img {
  width: 100%;
}
small {
  font-size: small;
}
.more {
  margin-top: 50px;
}
a:hover {
  text-decoration: none;
}
.list {
  list-style: none;
  padding: 0;
}
.button {
  background: #84bc22;
  color: #fff;
  border: 1px solid #84bc22;
  padding: 10px;
  border-radius: 20px;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.5s;
  text-align: center;
}
.button:hover {
  color: #84bc22;
  background: transparent;
}
.dark,
.dark a {
  color: #fff;
}
.dark .button {
  color: #fff;
  border-color: #fff;
  background: transparent;
}
.flex-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background--dark {
  background-color: #262a32;
}
h2.section_title {
  span {
    display: block;
    font-size: 18px;
  }
}
.container {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  border-bottom: 1px solid #e8e2d6;
  padding: 10px 0 0 0;
  position: relative;
  .container_content-mobile {
    display: none;
  }
  .container_content-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        max-width: 60px;
        width: $imgWidth;
        display: inline-block;
        margin-right: 7px;
      }
      div.logo-text {
        span {
          color: $greenColor;
          font-size: 18px;
          display: block;
          line-height: 1;
        }
        span:first-child {
          text-transform: uppercase;
          color: $blueColor;
          font-size: 31.65px;
          font-weight: 900;
          letter-spacing: 6.33px;
        }
      }
    }
  }
  nav,
  .coin-switch,
  .user-utilities,
  .language-switch {
    display: inline-block;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        text-transform: uppercase;
        // padding: 0 12px;

        a {
          color: #45413e;
          text-decoration: none;
          font-size: 14px;
          padding: 31px 12px;
        }
      }
      li.has-children {
        > ul.level2 {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background: #fff;
          z-index: 2;
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          background-color: #262a32;
          padding: 50px 60px;
          display: none;
        }
      }
      li.has-children:hover > ul.level2 {
        display: table;
        width: 100%;
      }
    }
    ul.level1 {
      > li {
        > a {
          border-bottom: 5px solid transparent;
          display: block;
        }
      }
      > li:hover {
        > a {
          background: #262a32;
          color: #fff;
          border-color: #84bc22;
        }
      }
    }
    ul.level2 {
      li {
        display: block;
        padding-left: 0;
        a {
          color: #fff;
          text-transform: none;
          font-size: 16px;
          line-height: 31px;
        }
      }
      > li.has-children {
        display: table-cell;
        > span {
          font-size: 14px;
          color: #fff;
          font-weight: 900;
        }
      }
      > li.has-children:first-child > .level3 {
        column-count: 3;
      }
      > li.has-children:last-child {
        width: 15%;
      }
    }
  }
  .has-children > ul.level2:after {
    content: "";
    background: url("../images/image-nav.png");
    display: table-cell;
    width: 22%;
    height: 280px;
    background-size: cover;
    border-radius: 5px;
    background-repeat: no-repeat;
  }
  .user-utilities {
    img {
      display: inline-block;
      max-width: 25px;
      width: $imgWidth;
    }
  }
  .user-utilities > span {
    display: inline-block;
    margin-left: 32px;
  }

  @media screen and (max-width: 992px) {
    .container_content-desktop {
      display: none;
    }
    .container_content-mobile {
      display: block;
      text-align: center;
      padding: 9px 20px 8px 40px;
      position: relative;

      .toggle-nav {
        position: absolute;
        left: 20px;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 20px;
      }
      .logo {
        display: inline-block;
        max-width: 45px;
      }
      nav.nav-mobile {
        display: block;
        position: absolute;
        top: 100%;
        background-color: #262a32;
        left: 0;
        right: 0;
        z-index: 3;
        .level1 li {
          display: block;
          a {
            padding: 15px;
            border: none;
            font-weight: 900;
            text-align: left;
          }
        }
        .level1 > li.has-children {
          > a {
            position: relative;
            padding-right: 40px;
            > i {
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              right: 5px;
              width: 20px;
            }
          }
        }
      }
    }
  }
}
@media screen and(max-width:992px) {
  header {
    padding-top: 0;

    .container {
      padding: 0;
    }
  }
}
//banner
/*Slick slider*/

ul.slick-dots {
  list-style: none;
  margin: 0;
  vertical-align: bottom;
  position: static;
  left: 0;
  right: 0;
  padding: 0 60px;
  bottom: 50px;
  text-align: center;

  li {
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    button {
      background: rgba(255, 255, 255, 0.4);
      // border: 2px solid #fff;
      border-radius: 100%;
      width: 10px;
      height: 12px;
      font-size: 0;
      border: none;
    }
  }
  li.slick-active {
    button {
      background: transparent;
      border: 2px solid #fff;
      width: 15px;
      height: 15px;
    }
  }
}

.banner-slider {
  ul.slick-dots {
    position: absolute;
  }
  .banner-slider_item {
    background-image: url("../images/slider1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    background-position: center;
    padding: 45px 60px;

    .banner-slider_item-wrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      min-height: 415px;
      padding: 30px 0 50px 0;

      .banner-slider_description {
        max-width: 365px;
      }
    }
  }
  .banner-slider_item[data-slick-index*="1"] {
    background-image: url("../images/slider1.jpg");
  }
}

.promo-box {
  background: #84bc22;
  color: #fff;
  border-radius: 5px;

  .promo-box_content {
    min-height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/palm.png");
    background-size: 58%;
    background-position: 11% 121%;
    background-repeat: no-repeat;

    h2 {
      font-size: 100px;
    }
    p {
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.follow-facebook {
  .button {
    background: transparent;
    color: #3a5b96;
    border-color: #3a5b96;
    display: inline-block;
  }
  .button:hover {
    color: #fff;
    background: #3a5b96;
    text-decoration: none;
  }
}
.item .item_wrap {
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
  color: #45413e;
}
.products--popular {
  .item {
    margin: 15px 0px;
    color: #45413e;
    .item_wrap {
      background: #fff;
      border-radius: 11px;
      overflow: hidden;
    }
    .item_caption {
      padding: 12px 20px;
      line-height: 1;
    }
  }
}
.products--featured {
  .item {
    padding: 0 15px;
    .item_caption {
      max-width: 200px;
      margin: 0 auto;
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      min-height: 110px;
      font-size: 16px;
      line-height: 18px;
      .description {
        font-size: 14px;
        font-weight: 900;
        color: #84bc22;
      }
    }
  }
}
.osf-banner {
  background-image: url(../images/banner-osf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 445px;
  display: flex;
  align-items: center;
  justify-content: center;
}
//Featured products
.products--featured {
  padding-bottom: 65px;
  padding-top: 45px;

  .slider-nav {
    max-width: 600px;
    width: 100%;
    margin: 25px auto 30px auto;
    position: relative;
    padding: 0 40px;
    * {
      vertical-align: middle;
    }
    .divider {
      display: inline-block;
      width: 40px;
      text-align: center;
      margin: 0 2px 0px 8px;
      span {
        font-size: 24px;
        font-weight: 900;
        letter-spacing: 2.5px;
        display: inline-block;
      }
    }
    .slick-arrow {
      background: #2d343a;
      border: 0;
      color: #fff;
      height: 30px;
      width: 30px;
      display: inline-block;
      margin: 3px;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
    }
    .arrow-left {
      left: 0;
    }
    .arrow-right {
      right: 0;
    }
  }
  .slider-nav:before {
    content: "";
    height: 3px;
    background: #fff;
    width: calc(50% - 60px / 2);
    display: inline-block;
  }
  .slider-nav:after {
    content: "";
    height: 3px;
    width: 46%;
    display: inline-block;
    background: #fff;
    width: calc(50% - 60px / 2);
  }
}

//Skills section

.skills-section {
  background-color: #45413e;
  .skill-item_wrap {
    padding-left: 100px;
    position: relative;
    padding-right: 22px;
    img {
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
    }
    h4 {
      text-transform: uppercase;
      font-size: 18px;
    }
    p {
      font-size: 14px;
      color: #868380;
      line-height: 18px;
    }
  }
}

/*Not Found Page*/
.background-peach {
  background: #f1edea;
}
h1.page-title {
  text-align: center;
}

/*Services*/

.filter {
  background: #fff;
  padding: 50px;
}
/*Footer*/
footer {
  padding: 40px 0;
  * {
    color: #45413e;
  }
  .footer-info--contact {
    padding-top: 40px;
  }
  .footer-info {
    > h4 {
      font-size: 13px;
      text-transform: uppercase;
      font-weight: 700;
      margin-bottom: 20px;
    }
  }
  .footer-info_description ul {
    list-style: none;
    padding: 0;
    li {
      display: block;
      font-size: 13px;
      line-height: 31px;
    }
  }
  .list--social {
    display: flex;
    justify-content: flex-end;
    li {
      display: inline-block;
      font-size: 20px;
      padding: 0 10px;
      line-height: 1;
    }
  }
}

.footer-category {
  .footer-info_description > ul {
    vertical-align: top;
    width: 33.33%;
    float: left;
  }
}
