body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

section {
  padding: 30px 0;
}

img {
  width: 100%;
}

small {
  font-size: small;
}

a:hover {
  text-decoration: none;
}

.button {
  background: #84bc22;
  color: #fff;
  border: 1px solid #84bc22;
  padding: 10px;
  border-radius: 20px;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.button:hover {
  color: #84bc22;
  background: transparent;
}

.dark {
  color: #fff;
}

.dark .button {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.flex-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.background--dark {
  background-color: #262a32;
}

h2.section_title span {
  display: block;
  font-size: 18px;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo img {
  max-width: 60px;
  width: 100%;
  display: inline-block;
  margin-right: 7px;
}

.logo div.logo-text span {
  color: #84bc22;
  font-size: 18px;
  display: block;
  line-height: 1;
}

.logo div.logo-text span:first-child {
  text-transform: uppercase;
  color: #011847;
  font-size: 31.65px;
  font-weight: 900;
  letter-spacing: 6.33px;
}

header {
  border-bottom: 1px solid #e8e2d6;
  padding: 10px 0;
  position: relative;
}

header .container--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav,
header .coin-switch,
header .user-utilities,
header .language-switch {
  display: inline-block;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header nav ul li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 12px;
}

header nav ul li a {
  color: #45413e;
  text-decoration: none;
  font-size: 14px;
  padding: 31px 0px;
}

header nav ul li.has-children > ul.level2 {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 2;
  -webkit-column-count: 3;
  column-count: 3;
  background-color: #262a32;
  padding: 50px 60px;
  display: none;
}

header nav ul li.has-children:hover > ul.level2 {
  display: table;
  width: 100%;
}

header nav ul.level2 li {
  display: block;
  padding-left: 0;
}

header nav ul.level2 li a {
  color: #fff;
  text-transform: none;
  font-size: 16px;
  line-height: 31px;
}

header nav ul.level2 > li.has-children {
  display: table-cell;
}

header nav ul.level2 > li.has-children > span {
  font-size: 14px;
  color: #fff;
  font-weight: 900;
}

header nav ul.level2 > li.has-children:first-child > .level3 {
  -webkit-column-count: 3;
          column-count: 3;
}

header nav ul.level2 > li.has-children:last-child {
  width: 15%;
}

header .has-children > ul.level2:after {
  content: "";
  background: url("../images/image-nav.png");
  display: table-cell;
  width: 22%;
  height: 280px;
  background-size: cover;
  border-radius: 5px;
  background-repeat: no-repeat;
}

header .user-utilities img {
  display: inline-block;
  max-width: 25px;
  width: 100%;
}

header .user-utilities > span {
  display: inline-block;
  margin-left: 32px;
}

/*Slick slider*/
ul.slick-dots {
  list-style: none;
  margin: 0;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 60px;
  bottom: 50px;
  text-align: center;
}

ul.slick-dots li {
  display: inline-block;
  font-size: 0;
  margin-right: 10px;
}

ul.slick-dots li button {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  font-size: 0;
  border: none;
}

ul.slick-dots li.slick-active button {
  background: transparent;
  border: 2px solid #fff;
}

.banner-slider {
  min-height: 505px;
  background: url("../images/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  padding: 45px 60px;
}

.promo-box {
  background: #84bc22;
  color: #fff;
  border-radius: 5px;
}

.promo-box .promo-box_content {
  min-height: 335px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-image: url("../images/palm.png");
  background-size: 58%;
  background-position: 11% 121%;
  background-repeat: no-repeat;
}

.promo-box .promo-box_content h2 {
  font-size: 100px;
}

.promo-box .promo-box_content p {
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.follow-facebook .button {
  background: transparent;
  color: #3a5b96;
  border-color: #3a5b96;
  display: inline-block;
}

.follow-facebook .button:hover {
  color: #fff;
  background: #3a5b96;
  text-decoration: none;
}

.item .item_wrap {
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
  color: #45413e;
}

.products--popular .item {
  margin: 15px 0px;
  color: #45413e;
}

.products--popular .item .item_wrap {
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
}

.products--popular .item .item_caption {
  padding: 12px 20px;
  line-height: 1;
}

.products--featured .item {
  padding: 0 15px;
}

.osf-banner {
  background-image: url(../images/banner-osf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skills-section {
  background-color: #45413e;
}

.skills-section .skill-item_wrap {
  padding-left: 70px;
  position: relative;
}

.skills-section .skill-item_wrap img {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.skills-section .skill-item_wrap h4 {
  text-transform: uppercase;
  font-size: 18px;
}
/*# sourceMappingURL=style.css.map */