$imgWidth: 100%;
$blueColor: #011847;
$greenColor: #84bc22;

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
section {
  padding: 30px 0;
}
img {
  width: 100%;
}
small {
  font-size: small;
}
a:hover {
  text-decoration: none;
}

.button {
  background: #84bc22;
  color: #fff;
  border: 1px solid #84bc22;
  padding: 10px;
  border-radius: 20px;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  line-height: 1;
  text-transform: uppercase;
  transition: all 0.5s;
}
.button:hover {
  color: #84bc22;
  background: transparent;
}
.dark {
  color: #fff;
}
.dark .button {
  color: #fff;
  border-color: #fff;
  background: transparent;
}
.flex-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.background--dark {
  background-color: #262a32;
}
h2.section_title {
  span {
    display: block;
    font-size: 18px;
  }
}
.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img {
    max-width: 60px;
    width: $imgWidth;
    display: inline-block;
    margin-right: 7px;
  }
  div.logo-text {
    span {
      color: $greenColor;
      font-size: 18px;
      display: block;
      line-height: 1;
    }
    span:first-child {
      text-transform: uppercase;
      color: $blueColor;
      font-size: 31.65px;
      font-weight: 900;
      letter-spacing: 6.33px;
    }
  }
}
header {
  border-bottom: 1px solid #e8e2d6;
  padding: 10px 0;
  position: relative;
  .container--content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  nav,
  .coin-switch,
  .user-utilities,
  .language-switch {
    display: inline-block;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        text-transform: uppercase;
        padding: 0 12px;

        a {
          color: #45413e;
          text-decoration: none;
          font-size: 14px;
        }
      }
      li.has-children {
        > ul.level2 {
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          background: #fff;
          z-index: 2;
          -webkit-column-count: 3;
          -moz-column-count: 3;
          column-count: 3;
          background-color: #262a32;
          padding: 50px 60px;
          display: none;
        }
      }
      li.has-children:hover > ul.level2 {
        display: block;
      }
    }
    ul.level2 li {
      display: block;

      a {
        color: #fff;
        text-transform: none;
        font-size: 16px;
        line-height: 31px;
      }
    }
  }
  .user-utilities {
    img {
      display: inline-block;
      max-width: 25px;
      width: $imgWidth;
    }
  }
  .user-utilities > span {
    display: inline-block;
    margin-left: 32px;
  }
}

//banner
/*Slick slider*/
ul.slick-dots {
  list-style: none;
  margin: 0;
  vertical-align: bottom;
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 60px;
  bottom: 50px;
  text-align: center;
  li {
    display: inline-block;
    font-size: 0;
    margin-right: 10px;
    button {
      background: rgba(255, 255, 255, 0.4);
      // border: 2px solid #fff;
      border-radius: 100%;
      width: 15px;
      height: 15px;
      font-size: 0;
      border: none;
    }
  }
  li.slick-active {
    button {
      background: transparent;
      border: 2px solid #fff;
    }
  }
}

.banner-slider {
  min-height: 505px;
  background: url("../images/slider1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  background-position: center;
  padding: 45px 60px;
}

.promo-box {
  background: #84bc22;
  color: #fff;
  border-radius: 5px;

  .promo-box_content {
    min-height: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-image: url("../images/palm.png");
    background-size: 58%;
    background-position: 11% 121%;
    background-repeat: no-repeat;

    h2 {
      font-size: 100px;
    }
    p {
      font-size: 24px;
      line-height: 30px;
      text-transform: uppercase;
      text-align: center;
    }
  }
}
.follow-facebook {
  .button {
    background: transparent;
    color: #3a5b96;
    border-color: #3a5b96;
    display: inline-block;
  }
  .button:hover {
    color: #fff;
    background: #3a5b96;
    text-decoration: none;
  }
}
.item .item_wrap {
  background: #fff;
  border-radius: 11px;
  overflow: hidden;
  color: #45413e;
}
.popular-items {
  .item {
    margin: 15px 0px;
    color: #45413e;
    .item_wrap {
      background: #fff;
      border-radius: 11px;
      overflow: hidden;
    }
    .item_caption {
      padding: 12px 20px;
      line-height: 1;
    }
  }
}
.osf-banner {
  background-image: url(../images/banner-osf.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 445px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-section {
  background-color: #45413e;
  img {
    width: auto;
  }
  h4 {
    text-transform: uppercase;
    font-size: 18px;
  }
}
